@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Light.woff2') format('woff2'),
    url('../fonts/Chivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Regular.woff2') format('woff2'),
    url('../fonts/Chivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Bold.woff2') format('woff2'),
    url('../fonts/Chivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display:grid;
    padding: 0;
    font-family: Raleway, Chivo, 'Patua One', serif;
    font-size: 14px;
    background: url("../img/background-1.jpg") fixed no-repeat;
    color: #ffffff;

}

body *{
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

textarea{
    resize:none;
}


.grid-container > * {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 130px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Header Header Header Header" "Side-bar Main Main Main" "Side-bar Gallery Gallery Gallery" "Side-bar Advantages Advantages Advantages" "Side-bar Team Team Team"  "Side-bar Comments Comments Comments" "Footer Footer Footer Footer";
}

.Header { grid-area: Header; }

.Side-bar { grid-area: Side-bar; }

.Main { grid-area: Main; }

.Gallery { grid-area: Gallery; }

.Advantages { grid-area: Advantages; }

.Team { grid-area: Team; }

.Comments { grid-area: Comments; }

.Footer { grid-area: Footer; }

/* Header
..............................................................*/

.Header {
    height: 760px;
    width: 100%;
}

.header__inner {
    display: flex;
    height: 70px;
    background-color: #8b0000;
    position: fixed;
    z-index:10;
    width: 100%;
}

.logo__img {
    max-height: 70px;
}

.logo__img:hover{
    cursor: pointer;
}

.header__nav{
    width: 100%;

}

.header__nav > ul {
    display: flex;
    justify-content: center;
}

.header__nav > ul > li > a{
    display:flex;
    height: 50px;
    width: 100px;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.header__nav ul li a:hover, .header__nav li > ul li:hover  {
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.header__nav > ul > li:not(:last-of-type) > a{
    border-right: 2px solid #fae1a0;
    margin-right: 20px;
}

/*Sub-menu
.............................................................. */
.header__nav li ul{
    position:absolute;
    min-width: 100px;
    display: none;
    background: #8b0000;
}

.header__nav li > ul li{
    height: 50px;
    width: auto;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 1px solid #9ba99a;
}

.header__nav li > ul li a{
    padding: 20px;
    text-transform: none;
    background: transparent;
    color: #ffffff;
    white-space: nowrap;
    justify-items: center;
}

.header__nav li:hover > ul{
    display: block;
    z-index: 3;
}

.header__nav li > ul li:hover{
    background: #454547;
}

#header__slides {
    position: relative;
    height: 760px;
    padding: 0;
    margin: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background-size: cover;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: url("../img/slide-1.jpeg");
    background-size: cover;
    overflow-y:hidden;
}

.slide:nth-of-type(2) {
    background: url("../img/slide-2.jpeg");
    background-size: cover;
    overflow-y:auto;
}

.slide:nth-of-type(3) {
    background: url("../img/slide-3.jpg");
    background-size: cover;
    overflow-y:auto;

}

.slide:nth-of-type(4) {
    background: url("../img/slide-4.jpeg");
    background-size: cover;
    overflow-y:auto;
}

.slide:nth-of-type(1) .slider__title, .slide:nth-of-type(1) .slider__text{
    color: #000000;
}

.slider__title{
    color: #fafafa;
    font-size: 60px;
    text-align: center;
    padding-top: 300px;
}

.slider__text{
    text-indent: 35px;
    font-size: 25px;
    color: #ffffff;
    text-align:center;
}

/* Main */

/*add-object*/

.add-object{
    display: none;
    position: absolute;
    z-index: 2;
    left:50%;
    margin-left:-250px;
}

.add-object form{
    background: url("../img/add-object-bg.jpg");
    background-size: cover;
    width: 470px;
    height: 370px;
}

.add-object form label{
    display: block;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 14px;
    margin: 20px;
}

.add-object__city{
    margin-top:15px;
}

.closeModalWindow {
    position: absolute;
    right:0;
    background:url("../img/close.svg") no-repeat;
    cursor:pointer;
    width: 30px;
    height: 30px;
    border: none;
}

.add-object form label textarea{
    width: 100%;
    height: 80px;
    background: none;
    color:#000000;
    font-size: 18px;
    margin-top: 6px;
    background: #fafafa;
}

.sorting-filters{
    display: flex;
    justify-content: space-between;
}

.filters, .sorting{
    display: flex;
    justify-content: center;
    padding:24px 0 0 50px;
    height: 50px;
}

.filter-group{
    position: relative;
}

.filter-control{
    border: 0;
    padding-right: 25px;
    background: #ffffff no-repeat url("../img/down.svg") center right 8px / 8px;
}

.filter-control.open{
    background: #ffffff no-repeat url("../img/up.svg") center right 8px / 8px;
}

.dropdown{
    display: none;
    position: absolute;
    white-space: nowrap;
    padding:0 20px;
    top: 20px;
    color: #000000;
    background-color: #fafafa;
}

.dropdown.open{
    display:block;
}

.apartment__price-input{
    width: 70px;
}

.filters button{
    margin: 0 0 20px 10px;
}

.sorting{
    margin-right: 300px;
}

.apartments{
    display: flex;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.apartment__description {
    word-break: break-all;
}

.apartment{
    width: 45%;
    margin: 10px;

    padding-bottom: 20px;
    border: 1px solid #808080;
}

.apartment__image{
    width: 100%;
}

.booking{
    display:none;
}

/*pagination*/

.page-numbers{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.page-numbers button{
    width: 50px;
    height: 50px;
    appearance: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #44AAEE;
    margin: 5px;
    transition: 0.4s;
    color: #ffffff;
    font-size: 18px;
    text-shadow:  0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.page-numbers button:hover{
    background-color: #44EEAA;
}

.page-numbers button.active{
    background-color: #44EEAA;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);

}

/*Side-bar
................................................*/

.Side-bar{
    width: 130px;
}

.Side-bar > ul li a{
    display:flex;
    height: 81px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.Side-bar ul{
    margin:0;
}

.Side-bar > ul li:hover{
    background: #454547;
}

/*Gallery
............................................................*/
.Gallery{
    margin-top:100px;
}

ul.slider{
    display:flex;
    justify-content: center;
    padding: 0;
}

ul.slider li{
    width: 300px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    box-shadow: 1px 3px 15px #3a3e64;
    transition: all 1.5s;
}

ul.slider img{
    width: 300px;
    height: 300px;
}

ul.slider li:hover{
    width: 400px; box-shadow: 1px 3px 15px #4cbcd9;
    transition: all 1s;
}

ul.slider li:nth-child(4){
    width: 500px;
}

ul.slider:hover li:nth-child(4){
    width: 50px;
}

ul.slider li:nth-child(4):hover{
    width: 500px;
}


/*Advantages
 ...............................*/
.advantages{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantages__item{
    justify-content: center;
    width: 33.33333%;
    margin: 25px 0;
    padding: 0 40px;
    text-align: center;
    color:#ffffff;
    box-sizing: border-box;
}

.advantages__item:hover{
    background: #313454;
    color: #ffffff;
    transition: all 0.3s ease;
}

.advantages__icon{
    height: 100px;
    width: 100px;
}

.advantages__title{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.advantages__text{
    font-size:14px;
    color:#fafafa;
}

.team__title, .advantages__main-title, .gallery__title{
    color:#fafafa;
    text-align: center;
    font-size: 30px;
    padding:20px;
}

/*Team
..........................................................*/
.team__inner{;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}

.team__item{
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.team__photo{
    display: block;
    max-height:150px ;
    height: auto;
}

.team__name{
    font-size: 16px;
    color:#fafafa;
    margin-bottom: 5px;
    text-overflow: ellipsis;
}

.team__profession{
    display: inline-block;
    font-size: 10px;
    color:#e84545;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.team__description{
    font-size: 11px;
    line-height: 1.5;
    color:#fafafa;
    margin-bottom: 7px;
}

/*Comments*/
.comments{
    display: flex;
    justify-content: space-between;

}

.comments__content{
    width: 100%;
    margin-bottom: 30px;
}

.comments__title{
    text-align: center;
    padding: 30px 0;
}

.comment-field{
    display: inline-block;
    justify-content: center;
    height: 100px;
}

.comment-block{
    margin:0 0 50px 50px;
    border: 3px ridge #000000;
    background: #fafafa;
    color: #000000;

}

.time-display{
    text-align: right;
    padding-right: 7px;
    font-style: italic;
}

.comment-body, .comment-name{
    max-width: 500px;
    word-wrap: break-word;
}

.comments-wrapper{
    width: 350px;
    padding: 30px;
}

.comments-wrapper__title{
    margin-bottom: 10px;
}

.comments-wrapper__form input, .comments-wrapper__form textarea {
    display:block;
    width: 100%;
}

.comments-wrapper__form textarea{
    height: 100px;
}

.btn-position{
    margin-top: 5px;
}

.time-display{
    font-size: 10px;
}


/* Footer
...........................................*/

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0;
    border-top: 2px solid #fafafa;
    background: url("../img/footer-background.jpg") no-repeat;
    background-size: cover;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    font-style: normal;
    color:#ffffff;
}

.map{
    display: flex;
    padding: 10px 15px;
    overflow: hidden;
}

.map iframe{
    width: 100%;
    height: 93%;
    border:0;
    border-radius: 8px;
}



/*Copyright
.........................................*/

.copyright {
    padding: 0;
    background: #000000;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #ffffff;
}

/*Social media
 ............................*/

.social{
    display: flex;
    margin: 0 0 70px -14px;
}

.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
}

.social__link:hover{
    background-color: #454547;
}

.social--footer {
    justify-content: center;
}



/*Device menu
....................................................*/
.device-nav{
    display: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
    height: 40px;
    font-family: Raleway, sans-serif;
    z-index: 10;
}

#check-menu{
    display: none;
}

.device-nav label{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
}

.burger-line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: .5s all;
}

.second, .third{
    top: 18px;
}

.fourth{
    top: 28px;
}

.main-menu{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s ease;
}

.main-menu a{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid #e84545;
}

.main-menu a:last-child{
    border-bottom: 1px solid #e84545;

}

.main-menu a:hover{
    background-color: rgba(0,0,0,.9);
}

#check-menu:checked ~ .main-menu{
    max-height: 500px;
    font-size: 16px;
}

#check-menu:checked ~ .first{
    display: none;
}

#check-menu:checked ~ .second{
    transform: rotate(45deg);
}

#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}

#check-menu:checked ~ .fourth{
    display: none;
}

/*Компенсируем фиксед хедер */
.fixed-compensator {
    padding-top: 70px;
    margin-top: -70px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

/*Media
...........................................................................*/
@media only screen and (min-width : 768px) and (max-width : 1024px) {

    .slider__title{
        font-size: 30px;
        padding-top: 200px;
    }

    .slider__text{
        font-size: 20px;
        text-align:center;
    }

    .sorting-filters {
        margin: 20px 0;
        display: block;
    }

    .filter-control {
        height: 20px;
        padding: 0;
        width: 120px;
        font-size: 10px;
    }

    .filters {
        padding: 0;
        justify-content: normal;
    }

    .sorting {
        display: flex;
        justify-content: flex-start;
        margin: 0 0 0 10px;
        padding: 0;
    }

    .dropdown {
        padding: 0 10px;
        font-size: 10px;
        min-width: 170px;
        z-index: 1;
    }

    .comment-block{
        width: 300px;
    }

}

@media only screen and (min-width : 400px) and (max-width : 767px){

    .slider__title{
        font-size: 25px;
        padding-top: 150px;
    }

    .slider__text{
        font-size: 16px;
        text-align:center;
    }
    .sorting-filters {
        margin: 5px;
        display: block;
    }

    .filter-control {
        height: 20px;
        padding: 0;
        width: 120px;
        font-size: 10px;
    }

    .filters {
        display: inline-block;
        padding: 0;
        justify-content: normal;

    }

    .sorting {
        display: flex;
        justify-content: flex-start;
        margin: 10px;
        padding: 0;
    }

    .Side-bar{
        width: 90px;
    }

    .dropdown {
        padding: 0 10px;
        font-size: 10px;
        min-width: 170px;
        z-index: 1;
    }

    .apartment{
        width: 100%;
        word-wrap: break-word;
        overflow-y: scroll;
    }

    .Gallery{
        margin-top: 5px;
    }

    .gallery__title{
        font-size: 20px;
    }

    ul.slider img{
        width: 300px;
        height: 200px;
    }

    .advantages__main-title{
        font-size: 20px;
    }

    .comments{
        display: block;
    }


    .comment-block{
        margin: 5px;
        border: 1px solid #000000;
        max-width: 200px
    }

    .comments-wrapper{
        padding: 25px 5px 20px 5px;
        max-width: 200px
    }

    .advantages__item{
        width: 50%;
        padding: 0;
    }

    .advantages__icon{
        height: 60px;
        width: 60px;
    }

    .advantages__title, .advantages__text{
        font-size: 10px;
    }


    .header__nav {
        display: none;
    }

    .device-nav {
        display: block;
    }

    .team__item{
        width: 50%;
        margin-right: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    .team__title{
        font-size: 20px;
    }

    .team__name{
        font-size: 12px;
    }

    .team__profession{
        font-size: 9px;
    }

    .footer__block{
        font-size: 10px;
        padding: 0;
    }
}

