@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
    url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Light.woff2') format('woff2'),
    url('../fonts/Chivo-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Regular.woff2') format('woff2'),
    url('../fonts/Chivo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/Chivo-Bold.woff2') format('woff2'),
    url('../fonts/Chivo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display:grid;
    padding: 0;
    font-family: Raleway, Chivo, 'Patua One', serif;
    font-size: 14px;
    background: url("../img/background_1.jpg");
    color: #ffffff;

}

body *{
    box-sizing: border-box;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, li{
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;

}


.grid-container > * {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: 130px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "Header Header Header Header" "Side-bar Main Main Main" "Side-bar Gallery Gallery Gallery" "Side-bar Advantages Advantages Advantages" "Side-bar Team Team Team" "Side-bar Comments Comments Comments" "Footer Footer Footer Footer";
}

.Header { grid-area: Header; }

.Side-bar { grid-area: Side-bar; }

.Main { grid-area: Main; }

.Gallery { grid-area: Gallery; }

.Advantages { grid-area: Advantages; }

.Team { grid-area: Team; }

.Comments { grid-area: Comments; }

.Footer { grid-area: Footer; }

/* Header */

.Header {
    height: 700px;
    width: 100%;

}

.header__inner {
    display: flex;
    height: 100px;
    background-color: #8b0000;
}

.logo__img {
    max-height: 100px;
}

.header__nav{
    width: 100%;
}



.header__nav > ul {
    display: flex;
    justify-content: center;
}

.header__nav > ul > li > a{
    display:flex;
    height: 50px;
    width: 100px;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    transition: all 0.3s ease;

}

.header__nav ul li a:hover, .header__nav li > ul li:hover  {
    transform: scale(1.1);
    transition: all 0.7s ease;

}

.header__nav > ul > li:not(:last-of-type) > a{
    border-right: 2px solid #fae1a0;
    margin-right: 20px;
}

/*Sub-menu
............................................... */
.header__nav li ul{
    position:absolute;
    min-width: 100px;
    display: none;
    background: #8b0000;
}

.header__nav li > ul li{
    height: 50px;
    width: auto;
    font-size: 14px;
    transition: all 0.3s ease;
    border: 1px solid #9ba99a;
}

.header__nav li > ul li a{
    padding: 20px;
    text-transform: none;
    background: transparent;
    color: #ffffff;
    white-space: nowrap;
    justify-items: center;
}


.header__nav li:hover > ul{
    display: block;
    z-index: 3;
}

.header__nav li > ul li:hover{
    background: #454547;
}






/*.header__slider{*/
/*    background: url("../img/header-slider-1.jpg") no-repeat;*/
/*    background-size: cover;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    height: 500px;*/
/*}*/

#header__slides {
    position: relative;
    height: 600px;
    padding: 0;
    margin: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.showing {
    opacity: 1;
    z-index: 2;
}


.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}

.slide:nth-of-type(1) {
    background: url("../img/slide-1.jpeg");
    background-size: cover;
    overflow-y:hidden;
}
.slide:nth-of-type(2) {
    background: url("../img/slide-2.jpeg");
    background-size: cover;
    overflow-y:auto;


}
.slide:nth-of-type(3) {
    background: url("../img/slide-3.jpg");
    background-size: cover;
    overflow-y:auto;

}
.slide:nth-of-type(4) {
    background: url("../img/slide-4.jpeg");
    background-size: cover;
    overflow-y:auto;
}

.slide:nth-of-type(1) .slider__title, .slide:nth-of-type(1) .slider__text{
    color: #000000;

}



.slider__title{
    color: #fafafa;
    font-size: 60px;
    text-align: center;
    padding-top: 200px;

}

.slider__text{
    text-indent: 35px;
    font-size: 25px;
    color: #ffffff;
    text-align:center;
}




/*Side-bar*/
.Side-bar{
    width: 130px;
    background: #8b0000;
}



.Side-bar > ul li a{
    display:flex;
    height: 80px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    color: #ffffff;
    border-bottom: 1px solid #000000;
    align-items: center;
}



.Side-bar > ul li:hover{
    background: #454547;
}



.Side-bar > ul > li{
    position: relative;
}


.Side-bar li ul{
    position:absolute;
    display: block;
    left: auto;
    background: #8b0000;
    right: 0;
    top: 0;
}



.Side-bar li:hover > ul{
    display: block;
}

/*Gallery
.............................*/

ul.slider{
    display:flex;
    justify-content: center;
    padding: 0;
}

ul.slider li{
    width: 300px;
    overflow: hidden;
    padding: 1px 1px 0;
    cursor: pointer;
    display: block;
    box-shadow: 1px 3px 15px #3a3e64;
    transition: all 1.5s;
}

ul.slider img{
    width: 300px;
    height: 300px;
}

ul.slider li:hover{
    width: 450px; box-shadow: 1px 3px 15px #4cbcd9;
    transition: all 1s;
}

ul.slider li:nth-child(4){
    width: 500px;
}

ul.slider:hover li:nth-child(4){
    width: 50px;
}

ul.slider li:nth-child(4):hover{
    width: 500px;
}


/* Gallery */
/*.Gallery{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*    background-color: grey;*/

/*}*/

/*.gallery__item{*/
/*    width: 33.33333%;*/
/*    margin-bottom: 15px;*/
/*}*/


.gallery__item img{
    width: 300px;
    height: 300px;

}

/*.gallery__item:hover{*/
/*    background: #313454;*/
/*    color: #ffffff;*/
/*    transition: all 0.3s ease;*/
/*}*/





/*Advantages
 ...............................*/
.advantages{
    display:flex;
    flex-wrap: wrap;

}

.advantages__item{
    width: 33.33333%;
    margin: 25px 0;
    padding: 0 40px;
    text-align: center;
    color:#ffffff;
    box-sizing: border-box;
}

.advantages__item:hover{
    background: #313454;
    color: #ffffff;
    transition: all 0.3s ease;

}

.advantages__icon{
    height: 100px;
    width: 100px;
}

.advantages__title{
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
}

.advantages__text{
    font-size:14px;
    color:#fafafa;
}

.team__title{
    color:#fafafa;
    text-align: center;
    font-size: 30px;
    padding:20px;
}

.team__inner{;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    margin: 0;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;

}

.team__item{
    width: 25%;
    box-sizing: border-box;
    padding: 15px;
}

.team__photo{
    display: block;
    max-height:150px ;
    height: auto;
}

.team__name{
    font-size: 16px;
    color:#fafafa;
    margin-bottom: 5px;
    text-overflow: ellipsis;

}

.team__profession{
    display: inline-block;
    font-size: 10px;
    color:#e84545;
    text-transform: uppercase;
    margin-bottom: 7px;
}

.team__description{
    font-size: 11px;
    line-height: 1.5;
    color:#fafafa;
    margin-bottom: 7px;

}













/* Main */
.sorting-filters{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}


.filters, .sorting{
    display: flex;
    justify-content: center;
    padding:24px 0 0 50px;
    height: 50px;
}

.filter-group{
    position: relative;
}

.filter-control{
    border: 0;
    padding-right: 25px;
    background: #ffffff no-repeat url("../img/down.svg") center right 8px / 8px;
}

.filter-control.open{
    background: #ffffff no-repeat url("../img/up.svg") center right 8px / 8px;
}





/*.filters div{*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    margin: 10px;*/
/*}*/

/*.apartment__rooms-window{*/
/*    display:none;*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    width: 170px;*/
/*    height: 120px;*/
/*    background-color: transparent;*/
/*    border: 1px solid #ffffff;*/
/*}*/

.dropdown{
    display: none;
    position: absolute;
    white-space: nowrap;
    padding:0 20px;
    top: 20px;
    color: #000000;
    background-color: #fafafa;
}

.dropdown.open{
    display:block;
}



/*.apartment__price-window{*/
/*    display:none;*/
/*    position: absolute;*/
/*    top: 20px;*/
/*    width: 170px;*/
/*    height: 110px;*/
/*    background-color: transparent;*/
/*    border: 1px solid #ffffff;*/
/*}*/

/*.apartment__price-window{*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/

/*}*/

.apartment__price-input{
    width: 70px;
}

.filters button{
    margin: 0 0 20px 10px;
}

/*.map{*/
/*    display: flex;*/
/*    text-align: center;*/
/*    padding: 10px 15px;*/
/*    width: 50%;*/
/*    overflow: hidden;*/
/*}*/

/*.map iframe{*/
/*    width: 100%;*/
/*    height: 93%;*/
/*    border:0;*/
/*    border-radius: 8px;*/
/*}*/


.apartments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.apartment{
    max-width: 50%;

    padding-bottom: 20px;
    border: 1px solid #808080;
}

.apartment__image{
    width: 500px;
    height: auto;
    background-size: cover;
}

.apartment__rooms{
    font-size: 13px;
}

.apartment__price{
    font-size: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
}

.pagination a{
    display: inline-block;
    color: #ffffff;

    border: 1px solid #000000;
    background: #000000;
    padding: 6px;
}

.pagination a:hover {
    background: #e84545;
    color: #000000;
    transition: 0.5s;
}



    /* Footer
    .............................*/

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0;
    border-top: 2px solid #fafafa;
    background-color: #808080;
}

.footer__block {
    width: 33.33333%;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}

.footer__title {
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

.footer__address {
    font-size: 14px;
    line-height: 1.5;
    font-style: normal;
    color:#9ba99a
}

.footer__text {
    font-size: 14px;
    line-height: 1.5;
    color:#9ba99a
}



/*Copyright
.........................................*/

.copyright {
    padding: 0;
    background: #000000;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}

.copyright__text span {
    color: #ffffff;
}



/*Social media
 ............................*/

.social{
    display: flex;
}

.social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    transition: 0.2s ease;
}

.social__link:hover{
    background-color: #454547;
}

.social--footer {
    justify-content: center;
}